body {
  padding: 0;
  background-image: url(/ltw_proj-master/img/sfondi/Wallpaper_3840x2160_board_black_line_texture_background_wood_4K.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.Photo_container {
  /*min-height: 100%;*/
  display: flex;
  padding-top: 20px;
  flex-wrap: wrap;
  flex-direction: row;
  /*justify-content: center;*/
}

.Map_container {
text-align: center;
padding-top: 20px;
justify-content: center;
display: flex;
flex-flow: row wrap; 
}
  
.flex-container {
    padding-top: 20px;
    justify-content: center;
    display: flex;
    flex-flow: row wrap; 
  }
  
  .txt_1 {
    text-align: left;
    background-color: transparent;
    font-size: 30px;
    font-family: cursive;
    width: 700px;
    height: 400px;
    max-width:100%;
    max-height:100%;
    padding-left: 20px;
    padding-top: 150px;
    
  }
  .central_img{
    padding-top: 20 px;
    padding-bottom: 10px;
    max-width:100%;
    max-height:100%;
  }
  .Separe_centrale_container{
    padding-top: 20px;
    display: flex;
    flex-flow: row ;
  }
  @media screen and (max-width: 800px) {
    .flex-container {
      
      justify-content: center;
      display: flex;
      flex-flow: column wrap; 
    }
    .central_img{
      
      max-width:100%;
      max-height:100%;
      
    }
    .txt_1 {
      text-align: center;
      background-color: transparent;
      font-size: 30px;
      font-family: cursive;
      width: 700px;
      
      
      max-width:100%;
      max-height:100%;
      
      
    }
  }